# Discord Settings
DISCORD_BOT_TOKEN=your_discord_bot_token_here
DISCORD_PUBLIC_KEY=your_discord_application_public_key_here
SURVEY_CHANNEL_ID=your_survey_channel_id_here

# AWS & DynamoDB Settings
AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
AWS_DEFAULT_REGION=us-east-1
DYNAMODB_TABLE_NAME=whalers_survey_week_1
# Set this optional endpoint URL if you ever want to point to localstack or dynamo local
# DYNAMODB_ENDPOINT_URL=http://localhost:8000
